body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;

  -webkit-scrollbar {
    background-color: #ccc;
  }
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.j-between {
  justify-content: space-between;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.wth {
  width: 450px;
}

.mg-bt {
  margin-bottom: 28px !important;
}

.Footer-login-pages {
  height: 15rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-top: 1px solid rgba(128, 128, 128, 0.7);
}

.Footer-body {
  color: rgba(255, 255, 255, 0.7);
  margin: auto;
  font-size: 1rem;
  font-weight: 400;
  margin: 3rem 0 3rem 0;
  padding: 0 2rem 0 2rem;
}

.Footer-content {
  box-sizing: border-box;
  width: 100%;
  display: inherit;
  height: auto;
}

.container {
  display: inline-flex;
  flex-wrap: wrap;
  height: inherit;
  margin-top: -0px;
  margin-left: -0px;
  width: 100%;
  flex-direction: row;
  padding: 0px;
}

.item-1 {
  display: inline-flex;
  flex-wrap: wrap;
  width: inherit;
  padding: 0px;
}

.item-content {
  margin-bottom: 0.75rem;
}

.item-content a {
  color: rgba(255, 255, 255, 0.7);
  border-radius: 0.125rem;
}

.item-2 {
  display: inline-flex;
  flex-wrap: wrap;
  width: inherit;
  padding: 0px;
}

.item-body {
  margin: 0.75rem 0;
  width: 100%;
  font-size: 0.875rem;
  font-weight: 400;
}

.item-container {
  display: inline-flex;
  flex-wrap: wrap;
  height: inherit;
  margin-top: -1rem;
  margin-left: -0.75rem;
  width: calc(100% + 0.75rem);
  flex-direction: row;
  padding: 0px;
}

.list-item {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: inherit;
  padding: 0px;
  -webkit-flex: 0 0 calc(50% - 0.75rem);
  -ms-flex: 0 0 calc(50% - 0.75rem);
  flex: 0 0 calc(50% - 0.75rem);
  margin-top: 1rem;
  margin-left: 0.75rem;
  margin-bottom: 14px;
}

.list-item a {
  color: rgba(255, 255, 255, 0.7);
  border-radius: 0.125rem;
}

/* Responsive background */
@media screen and (min-width: 600px) {
  .Background-image {
    min-height: 100%;
    min-width: 100%;
  }
}

/*---------- RESPONSIVE HEADER ------------*/
@media (min-width: 600px) {
  .navbar {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 960px) {
  .navbar {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/*---------- RESPONSIVE LOGIN/SIGNUP PAGES ------------*/
/* Min device width: 600px */
@media screen and (min-width: 600px) {

  /*-------- Login --------*/
  .content .form-container {
    margin-bottom: 50px !important;
    max-width: 450px;
  }

  .content .form {
    min-height: 707px;
    padding: 55px 68px;
  }

  /*------- Sign up --------*/
  .body-container {
    min-height: 32rem;
    padding: 6rem 0 3rem;
  }

  .body-content {
    max-width: calc(100% - 6rem);
  }

  .form-signup-body {
    content: '2';
    padding: 0 2rem;
  }
}

/*-------------- RESPONSIVE FOOTERLOGIN -------------*/
/* Min device width: 600px */
@media screen and (min-width: 600px) {
  .Footer-login-pages {
    border-top: none;
  }
}

@media (min-width: 600px) {
  .Footer-body {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 960px) {
  .Footer-body {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
  }
}

/* Min device width: 1280px */
@media (min-width: 1280px) {
  .Footer-body {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .Footer-body {
    max-width: (83.33333333333334% - 6rem);
  }
}

/* Min device width: 960px */
/* Sign Up */
@media screen and (min-width: 960px) {
  h1 {
    font-size: 3rem;
    font-weight: 900;
  }

  .text p {
    font-size: 1.5rem;
    font-weight: 400;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
  }
}

/* Min device width: 1280px */

@media screen and (prefer-reduced-motion) {
  input {
    transition: none 0s ease 0s;
  }
}