body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html,
body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.j-between {
  justify-content: space-between;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.wth {
  width: 450px;
}

.mg-bt {
  margin-bottom: 28px !important;
}

/* Responsive Login/Signup pages */
@media screen and (min-width: 600px) {

  /* Login */
  .content .form-container {
    margin-bottom: 50px !important;
    max-width: 450px;
  }

  .content .form {
    min-height: 707px;
    padding: 55px 68px;
  }

  /* Sign up */
  .body-container {
    min-height: 32rem;
    padding: 6rem 0 3rem;
  }

  .body-content {
    max-width: calc(100% - 6rem);
  }

  .form-signup-body {
    content: '2';
    padding: 0 2rem;
  }
}

/* Sign Up */
@media screen and (min-width: 960px) {
  h1 {
    font-size: 3rem;
    font-weight: 900;
  }

  .text p {
    font-size: 1.5rem;
    font-weight: 400;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
  }
}

@media screen and (prefer-reduced-motion) {
  input {
    transition: none 0s ease 0s;
  }
}